.searchInputs {
  margin-top: 5.5vw;
  display: flex;
}

#search-input {
  text-align: center;
}

.searchBar input {
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: .5vw;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 1.1vw;
  padding: 1vw;
  height: 2vw;
  width: "100%";
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.searchIcon {
  height: 60px;
  border: none;
  width: 50px;
  background-color: white;
  place-items: center;
}

.muiSearch {
  fill: #1f74db;
  width: 60;
  height: 60;
}

 .searchButton {
  cursor:pointer;
  background-color:#1f74db;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}



.muiSearchField {
  width: "100%";
}
