.CMLogo{
  font-size: 4vw;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-left: 100px;
  justify-content: center;
}

.CMLogoLower{
  font-size: vw;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  margin-left: 100px;
  margin-bottom: 20px;
  justify-content: center;
}

.CMSubtext{
    position: absolute;
    font-family: 'arial', sans-serif;
    font-size: 1.5vw;
    color: #747478;
    margin-left: 100px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
  }

  .CMContainer{
    position: sticky;
    margin-top: -40vh;
    margin-left: 3vw;
    font-size: 3.5vw;
  }