.container {
  position: fixed;
  width: 100%;
  bottom: 0;
  white-space: nowrap;
}

.overflow{
  overflow-x: scroll;
}

.blocks a {
  display: inline-block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 14px;
  margin-left: 1px;
  text-decoration: none;

}

.blocks a:hover {
  background-color: #777;
}

.blocks b {
  display: inline-block;
  color: white;
  background-color: #2967F0;
  text-align: end;
  padding: 14px;
  text-decoration: none;
}
