.container {
  position: fixed;
  width: 100%;
  bottom: 0;
  white-space: nowrap;
}

.overflow{
  overflow-x: hidden;
}

.blocks a {
  display: flex;
  align-items: center;
  background-color: #25323D;
  color: white;
  text-align: center;
  padding: 14px;
  margin-left: 1px;
  width: 14vw;
  text-decoration: none;
  height: 3vw;
  font-weight: bold;
  justify-content: center;
  font-family: "times new roman";
  font-size: 1.6vw;
}

.blocks a:hover {
  background-color: #777;
}

.blocks b {
  display: flex;
  color: white;
  background-color: #0067C5;
  text-align: center;
  padding: 14px;
  margin-left: .1vw;
  width: 14vw;
  text-decoration: none;
  font-size: 1.5rem;
  height: 3vw;
  overflow: hidden;
  text-decoration: none;
  justify-content: center;
  font-family: "times new roman";
  font-size: 1.6vw;
}

.prodArrows {
  display: flex;
  justify-content: right;
  padding: 1.3vw;
}
