.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .VendorWrap{
    padding-top: 200px;
  }

  .scrollButtons {
      display: flex;
      justify-content: right;
      margin: 20px;
  }

  .pos{
    position: relative;
    padding-top: 70px;
    
  }

  .wrapSolutions{
    width: 80%;
    height: 20;
    position: absolute;
    align-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .fullVendorView {
    padding-left: 20px;
  }

  .sortButton {
    margin-right: 20px;
  }

  .backgroundWrap {
    width: 100%;
    position: absolute;
    margin-top: -19rem;
    z-index: -1;
  }

  .searchbar{
    margin-bottom: 4rem;
  }
